<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHcGVadSyXBNg5knWSDOc9gdZ4QWTgu9c</string>
	<key>GCM_SENDER_ID</key>
	<string>367625255494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise5a</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-cead0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-cead0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367625255494:ios:077fa250019b07a1792847</string>
</dict>
</plist>